#section1 .linear {
  background: linear-gradient(176deg, #00a4e8 50%, #37b372 40%);
  height: 25vh;
}

.container-section1 {
  background-color: #00a4e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75vh;
  width: 100%;
}
.container-section1 h1 {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px #37b372;
}
.container-section1 p {
  display: block;
  width: 50%;
  justify-content: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 950px) {
  .container-section1 {
    padding-bottom: 20px;
    font-size: 12px;
  }
}
